body {
    background: rgb(229, 236, 236);
}

.p1 {
    text-align:justify;
    font-size: 20px;
    color:blue;
}

.p2 {
    text-align: justify;
    font-size: 20px;
    color:blue;
}













strong {
    color: #FF0000;
}